# python code caches
*.py[co]
__pycache__

# vi swap files
*.sw[op]

# yaml build directory
build

# Visual Studio Code
.vscode/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store